body {
    min-height: 100vh;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
#burger-menu {
    display: none;
}
.d_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.font55 {
    font-size: 55px;
  }
section {
   margin-top: 60px;
}
header {
    top: 0; 
    left: 0;
    position: sticky;
    z-index: 26;
    background-color: rgba(228, 232, 149, 0.989);
}
.dropdown-menu {
    background-color: black;
}
.dropdown-item {
    color: white;
}
.navbar-nav >li:hover{
    scale: 1.2;  
    text-decoration: underline;
    font-weight: bold;
}
.h6 {
    font-size: 15px;
    color: rgb(211, 136, 24);
 }

/* circle */

.circle {
    position: relative;
    width: 100px / 2;
    height: 100px;
    border-radius: 50%;
    /* background: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    position: absolute;
    width: 95px;
    height: 95px;
    background: url(../images/logo.png);
    background-size: cover;
    border-radius: 50%;
    /* filter: brightness(1.5) contrast(1.5); */
}
.text {
    position: absolute;
    width: 100%;
    height: 100%;
}
.text span {
    position: absolute;
    left: 50%;
    font-size: 8px;
    transform-origin: 0 50px;
}
.csb_wrapper >i {
    padding: 15px;
    cursor: pointer;
}

 /* section_slide  */
 .carousel-item {
    position: relative;
}
.carousel-item >img {
    width: 700px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-caption >h5, h3 {
    color: white;
    padding: 10px;
}
.carousel-caption >h5 {
    font-size: 25px;
}
.carousel-caption >h3 {
    font-weight: bold;
    font-size: 55px;
}
.au >button{
    background-color:rgba(228, 232, 149, 0.989);
    width: 150px;
    min-height: 50px;
    color: white;
    border-radius: 50px;
    cursor: pointer;  
    border: none;
}
 /* right_fix_box  */
 .right-box {
    position: fixed;
    right: -1px;
    top: 350px;
}
.fix-box {
    padding: 1px;
}
.fix-box >i{
    background-color: rgba(228, 232, 149, 0.989);
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer; 
}
/* section_craft_wine  */
.craft {
    background-color: rgb(235, 231, 227);
    margin-top: 80px;
}
.sec_title{
    margin-left: 50px;
    max-width: 600px;
    width: 100%;
    height: 30vh;
    /* border: 2px solid rgb(141, 47, 255);   */
}
.myfontsize {
    font-size: 50px;
}
.craft1 {
    position: relative;
    /* border: 2px solid red; */
    margin-top: 120px;
}
.craft1 > img {
    max-width: 400px;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    margin-left: 150px;
    margin-top: 100px;
}
.circle {
    position: absolute;
    bottom: 50px;
    left: 5px;
}
.craft2img >img {
    max-width: 600px;
    width: 100%;
    height: 100vh;
    margin-left: 720px;
    object-fit: cover;
    margin-top: -230px;
}
.craft2img >p {
    font-size: 20px;
    /* border: 2px solid; */
    max-width: 500px;
    width: 100%;
    height: 20vh;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 750px ;
    margin-top: 70px;
    font-family: sans-serif;
}
/* section be our guest  */
.car_tittle {
    margin-left: 50px;
    max-width: 600px;
    width: 100%;
    height: 30vh;
    /* border: 2px solid rgb(141, 47, 255); */
 }
 .car_tittle >p {
    font-size: 55px; 
 }

  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:aliceblue ;
    
 }
 .card_img >img {
    max-width: 100px;
    width: 100%;
    height: 50vh;
}
/* .card_img :hover {
    scale: 1.2;
} */
.bt22>button {
    background-color: rgb(126, 181, 101);
    width: 70px;
    min-height: 30px;
    color: white;
    border-radius: 15px;
    cursor: pointer;  
    border: none;
    position: absolute;
    top: 10px;
    left: 30px;
}
.star_rating, .text_price_raiting >a , p, h5{
    margin-top: 15px;
}
.checked {
    color: orange;
  }

/* section_bg_img   */

section >.bg {
    position: relative;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .bg_text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }

/* section-our-portfolio  */
.title3 {
    margin-left: 50px;
}
/* .portfolio_wrapper {
    border: 2px solid rebeccapurple;
    background-image: url(../images/bgimg.png);
    background-repeat: no-repeat;
    
} */
.portfolio_img {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; 
  }
 .portfolio_img >img {
    max-width: 600px;
    width: 100%;
    height: 70vh;
    padding: 50px; 
    object-fit: cover;
  } 
  /* .portfolio_img:hover {
    ტექსტი მინდა რომ გამოჩნდეს
  } */
  .portfolio-text2 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    max-width: 500px;
    width: 100%;
    margin-left: 450px;
  }
  /* section_who_we_are */

  .card {
    margin-top: 50px;
    border: none;
  }
.w_w_a {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.w_w_a_text{
    /* border: 2px solid rgb(141, 47, 255); */
    max-width: 700px;
    width: 100%;
    font-size: 20px;
    text-align: center; 
}
.sec_card_img >img {
    max-width: 400px;
    width: 100%;
    height: 30vh;
}
.sec_card_a >a{
    font-size: 20px;
    font-weight: 600;
}
.sec_card_s >p {
    font-size: 20px;
    padding: 25px;
}
/* section_subscribe  */
.sub_arrow >.fa-solid {
    background-color: rgba(228, 232, 149, 0.989);
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.sub_arrow >i {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.sub_text {
    text-align: center;
    margin-top: 30px;
}
.subbox2 >input {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 30px;
}
.vl {
    border-left: 2px solid green;
    height: 30px;
}
.agree {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

 /* section_fun_facts  */
 .ff_text {
    text-align: center;
}
.slide {
    margin-top: 40px;
    position: relative;
    left: 0;
    top: 0 ;
    width: 100%;
    height: 100vh;
    animation: wine 20s ease-out infinite ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slideimg {
    position: absolute;
    left: 0;
    top:0 ;
    width: 100%;
    height: 10vh;  
}
 .slideimgtext{
   text-align: center;
    font-size: 50px;
    color: white;  
    margin-top: 10px;
    padding: 5px;
} 
@keyframes wine {
   0% , 100%{
        background-image: url(../images/secslide3.jpg);
    }
    25%   {
        background-image: url(../images/secslide1.jpg);

    }
    50% {
        background-image: url(../images/secslide10.jpg);
    }
    75% {
        background-image: url(../images/secslide2.jpg);
    }
}
 /* section_footer  */
 footer {
    background-color: rgb(10, 9, 9);
    margin-top: 70px;
    width: 1170px;
    width: 100%;
    height:50vh;
}
.footer_logo >img {
    width: 150px;
    height: 150px;
}
.footer_wrapper >li {
    padding: 20px;
}

.social > i {
    width: 40px;
    height: 40px;
    background-color: rgb(126, 181, 101);
    border-radius: 50% ;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.social > i:hover {
    color: blue;
}

.fa_wrapper {
    padding: 20px;
}
.last_wrapper >h5{
    color: white;
}
.last_span >span {
    font-weight: bold;
}
